div{
    text-align: center;
}
.header-container{
    display: flex;
    justify-content: space-around;
    background-color: rgb(110, 110, 110);
}
.header-link {
    cursor: pointer;
    border: none;
    color: #222831;
    background: #EEEEEE;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-decoration: none;
}