.image-container.off img {
    border: 2px solid #007bff; 
    opacity: 0.8; 
}

.image-container img {
    width: 200px; 
    height: auto;
    object-fit: cover;
    cursor: pointer;
}
/* 슬라이더 */
.ImgView {
    margin: 20px auto;
}