.image-container.off img {
    border: 2px solid #007bff; 
    opacity: 0.8; 
}

.image-container img {
    width: 200px; 
    height: auto;
    display: block; 
    /* padding: 5px; */
    cursor: pointer;
}