.ImgView-container.off img {
    opacity: 0.5; 
}
.ImgView-container.on img {
    border: 2px solid red; 
}

.ImgView-container img {
    width: 300px; 
    cursor: pointer;
}

.ImgView {
    margin: 20px auto;
}